/*CSS Rules*/
/*Syntax - proper way of writing code*/
/*selector {
  properties
  keys: values;
}
*/
* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #ffee93 ;
  color:#3e885b ;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  color: #7f5539;
}

img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

/*

div.container-fluid {
  background-color: #fcf5c7;
}
*/

/* unvisited link */
a:link {
  color: #9c6644;
}

/* visited link */
a:visited {
  color: #3e885b;
}

/* mouse over link */
a:hover {
  color: #ffee93;
}

/* selected link */
a:active {
  color: #ffee93;
}


#landing {
  height: 80vh;
  /* center the content vertically using flexbox */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#profile {
  height: 250px;
  width: 250px;
}

.jumbotron {
  background-color: #fcf5c7;
}

#gallery {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 6px;
  height: 150vh;
}

ul {
  list-style: none;
  padding: 0;
}

h2, h6 {
  color: #9c6644;
}

.tools {
  padding: 25px;
  height: 250px;
  border: 5px solid #ffee93;
  margin: 20px;
  color: #7f5539;
  width: 75%;
}

html {
  scroll-behavior: smooth;
}